/*///////////////////////////// COLORS //////////////////*/
/*
YELLOW
    color:#d5c93f;
    background-color:rgba(213,201,63,1);

GREEN
    color:#36ac7a;
    background-color:rgba(54,172,122,1);

LIGHT GREEN
    color:#90c599;
    background-color:rgba(144,197,153,1);    

BLACK
    color:#000;
    background-color:rgba(0,0,0,1);

WHITE
    color:#FFF;
    background-color:rgba(255,255,255,1);


*/
/*///////////////////////////// COLORS //////////////////*/


h1{
	font-family:'bigJohn',Helvetica, Arial, sans-serif;
}

h2{
    font-family:'bigJohn',Helvetica, Arial, sans-serif;
}

h3{
	font-family:Helvetica, Arial, sans-serif;
}

h4{
	font-family:Helvetica, Arial, sans-serif;
}

h5{
	font-family:Helvetica, Arial, sans-serif;
}

h6{
	font-family:Helvetica, Arial, sans-serif;
}

p{
	font-family:Helvetica, Arial, sans-serif;
}

a{
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
}



@font-face {
    font-family: 'bigJohn';
    src: url('../fonts/big_john-webfont.eot');
    src: url('../fonts/big_john-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff'),
         url('../fonts/big_john-webfont.ttf') format('truetype'),
         url('../fonts/big_john-webfont.svg#bigJohn') format('svg');
    font-weight: normal;
    font-style: normal;

}